<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/jdbc
      http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- kafkaZookeeper, String kafkaGroupId, String kafkaTopic, Map<String, 
		DataManager<?>> dataManagerMap, MessageSender messageSender -->
	<!-- <import resource="spring-dataTransfer.xml" /> -->
	<bean id="dataTransfer"
		class="com.ahei.datatransfer.dataproducer.DataProducerListener">
		<constructor-arg index="0" value="10.128.8.57:2181" /><!-- zk -->
		<constructor-arg index="1" value="tcp-battle-group" /><!-- group -->
		<constructor-arg index="2" value="lang" /><!-- topic -->
		<constructor-arg index="3">
			<map>
				<entry key="data_transfer_test" value-ref="dataTransferMapper" />
			</map>
		</constructor-arg>
		<constructor-arg index="4"
			value="10.128.8.59:9092,10.128.8.61:9092,10.128.8.62:9092" />
	</bean>

</beans>